# Porta da aplicação
PORT=3000

# Credenciais de login do portal
ADMIN_USER=admin
ADMIN_PASSWORD=trocar_esta_senha
SESSION_SECRET=uma_chave_secreta_segura

# Tempo de expiração da sessão (minutos)
SESSION_LIFETIME_MINUTES=120

# Configuração do SQL Server
SQL_SERVER_HOST=10.8.0.2
SQL_SERVER_PORT=1433
SQL_SERVER_DATABASE=OCI_BILLING
SQL_SERVER_USER=sa
SQL_SERVER_PASSWORD=@leH2021
SQL_SERVER_ENCRYPT=false
SQL_SERVER_TRUST_CERT=false

# Configuração da OCI (preencher com seus dados reais)
OCI_TENANCY_OCID=ocid1.tenancy.oc1..
OCI_USER_OCID=ocid1.user.oc1..
OCI_REGION=sa-vinhedo-1
OCI_FINGERPRINT=8a
OCI_PRIVATE_KEY_PATH=key/billing.pem

# Agendamento da coleta (formato CRON - padrão: a cada 1 hora)
BILLING_SYNC_CRON=0 * * * *
BILLING_SYNC_TZ=UTC



user=ocid1.user.oc1..aaaaaaaazyknplh3vu5kidr2owjutm64sjgr54fnaqtexsy3psz4z6wncrja
fingerprint=8a:bc:c5:c1:56:5f:36:ad:3b:57:2c:8c:9d:14:27:2f
tenancy=ocid1.tenancy.oc1..aaaaaaaanvvnzjbgun3itfjze5egtbvrexwebvuq5hnj5va5hskymy2f4j7q
region=sa-vinhedo-1
key_file=<path to your private keyfile> # TODO
